{% extends "layouts/base.html" %}
{% load static %}
{% block title %} News {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{# Loop through all the tickers and the corresponding articles #}
{% for ticker, data in all_data.items %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- Set the header which contains the nav bar to different sentiments and the button for changing of article ticker-->
      <div class="card-header">
        <p class="h3" style="display: inline-block;">
          {{ ticker }} 
        </p>  
        <button type="button" style="display: inline-block;" rel="tooltip" class="btn btn-success animation-on-hover btn-sm btn-icon">
          <a href={{data.settings_url}}> 
            <img src="{% static 'assets/img/settings.png' %}"/>
          </a>                  
        </button>
        <ul class="nav nav-tabs card-header" role="tablist">
          {% for sentiment, articles in data.items %}
          {% if sentiment != "settings_url" %}
          <li class="nav-item">
            {% if sentiment == "Positive" %}
            <a class="nav-link card-title text-success" data-toggle="tab" href="#{{ ticker }}_{{ sentiment }}">{{ sentiment }} ({{ articles|length }})</a>
            {% else %}
            {% if sentiment == "Negative" %}
            <a class="nav-link card-title text-danger" data-toggle="tab" href="#{{ ticker }}_{{ sentiment }}">{{ sentiment }} ({{ articles|length }})</a>
            {% else %}
            <a class="nav-link card-title text-warning" data-toggle="tab" href="#{{ ticker }}_{{ sentiment }}">{{ sentiment }} ({{ articles|length }})</a>
            {% endif %}
            {% endif %}
          </li>
          {% endif %} {# settings url #}
          {% endfor %}  {# loop through portfolio_ids #}
        </ul>
      </div>

      <!-- Next set the articles that are shown in the body depending on the sentiment that is pressed in the navbar-->
      <div class="tab-content">
        {% for sentiment, articles in data.items %}
        {% if sentiment != "settings_url" %}
        <div id="{{ ticker }}_{{ sentiment }}" class="container tab-pane fade">
          <!-- Then set the body of the corresponding tab -->
          <div class="card-body">
          {% for article in articles %}
            <div class="row">
			        {% if not article.read %}
              <div class="col-2 text-white">
                {{ article.date }}
              </div>
			        {% else %}
			        <div class="col-2 text-gray-dark">
		            {{ article.date }}
			        </div>
			        {% endif %}
              <div class="col-9 text-left">
                {% if not article.read %}
                <a class="text-primary" target="_blank" href="/article/{{ article.id }}/read/?next={{ article.url }}">
                {% else %}
                <a class="text-secondary" target="_blank" href="/article/{{ article.id }}/read/?next={{ article.url }}">
                {% endif %}
                  {{ article.title }}
                </a>
              </div>
              <button type="button" rel="tooltip" class="btn btn-danger animation-on-hover btn-sm btn-icon">
                <a href={{article.delete_url}}>
                  <img src="{% static 'assets/img/delete.png' %}"/>
                </a>
              </button>
            </div>
            <div class="row">
              <div class="col-12">
                {% if not article.read %}
                <p class="text-white">
                {% else %}
                <p class="text-gray-dark">
                {% endif %}
                  {{ article.text }}
                </p>
              </div>
            </div>
          {% endfor %}           
          </div>
        </div>
        {% endif %}  {# sentiment is not settings url #}
      {% endfor %}  {# for sentiment, articles in data.items #}
      </div>
    </div>
  </div>       
</div>
{% endfor %}  {# for ticker in #}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}

