{% extends 'layouts/base.html' %}

{% block title %}Request user Page{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<tr class="d-flex">
  <div class="card text-white">
    <div class="card-body"> 
      <form action="." method="POST">
        {% csrf_token %}
        <table class='table'>
          <tr class='d-flex'>
            <td class='col-12'>
              {{ form.user | as_crispy_field }} 
            </td>
          </tr>
          <tr class='d-flex'>
            <td class=col-12>
              {{ form.errors }}
            </td>
          </tr>
          <tr class='d-flex'>
            <td class="col-6">
              <input type="submit" value="Submit"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</tr>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


