{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card text-white">
      <div class="card-body"> 
        <form action="." method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-2">
              Stock 
            </div>
            <div class="col-10">
              {{ form.stock }} 
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              Amount 
            </div>
            <div class="col-10">
              {{ form.amount }} 
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              Portfolio 
            </div>
            <div class="col-10">
              {{ form.portfolio }} 
            </div>
          </div>          <div class="row">
            <div class="col-2">
              Label
            </div>
            <div class="col-10">
              {{ form.label }} 
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              Date 
            </div>
            <div class="col-10">
              {{ form.date_bought }} 
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              Price [EUR]
            </div>
            <div class="col-10">
              {{ form.price_bought }} 
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              Buy fees [EUR]: 
            </div>
            <div class="col-10">
              {{ form.buy_fees_constant }} + {{ form.buy_fees_linear }} x price_bought x amount 
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              Expected sell fees [EUR]: 
            </div>
            <div class="col-10">
              {{ form.sell_fees_constant }} + {{ form.sell_fees_linear }} x price_bought x amount 
            </div>
          </div>    
          <div class="row">
            <div class="col-2">
              Current price
            </div>
            <div class="col-10">
              {{ price_today }} 
            </div>
          </div>      
          <div class="row">
            <div class="col-2">
              Lower Alert
            </div>
            <div class="col-10">
              {{ form.lower_alert }} 
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              Upper Alert
            </div>
            <div class="col-10">
              {{ form.upper_alert }} 
            </div>
          </div>
          <div class="row">
            <div class=col-12>
              {{ form.errors }}
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <a class="btn btn-danger btn-sm" href="/portfolio">
                Cancel
              </a>
            </div>
            <div class="col-2">
              <input type="submit" value="Submit"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Information
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            Stock
          </div>
          <div class="col-10">
            The Stock you bought. In case it is not listed just create a new one.
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            Amount
          </div>
          <div class="col-10">
            How many stocks you bought/sold.
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            Label
          </div>
          <div class="col-10">
            This label is used to sort the stocks in your Overview and manage your diversification. In order to add mutiple labels to a stock use the a "/". Example: Cybersecurity/Data Mining/Biomedical
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            Date
          </div>
          <div class="col-10">
            The date you performed the transaction. This date is used to retrieve the price. 
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            Price
          </div>
          <div class="col-10">
            Not required. The price per stock that you payed. In case you add your own price, the program wil automatically overwrite the value obtained using Date.
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            Fees
          </div>
          <div class="col-10">
            The amount of fees you had to pay on top of the given price. You can enter both a constant and a linear term dependant on the price. Note that the sell fees will be overwritten once you enter the sell transaction.
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            Lower/Upper Alert
          </div>
          <div class="col-10">
            Obtain an automatic alert email whenever the price is lower/higher as a certain value. Hotmail.com emails will block our email by their privacy settings however. 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
