{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Create Transaction {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<tr class="d-flex">
  <div class="col-12">
    <div class="card text-white">
      <div class="card-body"> 
        <form action="." method="POST">
          {% csrf_token %}
          <table class="table">
            <tr class="d-flex">  
              <td class="col-3 text-left">
                Stock 
              </td>
              <td class="col-8">
              {{ form.stock |crispy}} 
              </td>
              <td class="col-1 text-left"> 
                <a class="btn btn-primary btn-sm" href="/stocks/create/">
                  +
                </a>
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-3 text-left">
                Amount 
              </td>
              <td class="col-9">
                {{ form.amount |crispy}} 
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-3">
                Portfolio 
              </td>
              <td class="col-9">
                {{ form.portfolio |crispy}} 
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-3 text-left">
                Label
              </td>
              <td class="col-9">
                {{ form.label |crispy}} 
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-3 text-left">
                Date 
              </td>
              <td class="col-9">
                {{ form.date_bought |crispy}} 
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-3 text-left">
                NOTE IN DEVELOPMENT USE EUR Price
              </td>
              <td class="col-9">
                {{ form.price_bought }} {{ form.price_bought_to_eur }} 
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-3 text-left">
                NOTE IN DEVELOPMENT, USE EUR Fees: 
              </td>
              <td class="col-6">
                {{ form.buy_fees_constant }} + {{ form.buy_fees_linear }} x price_bought x amount 
              </td>
              <td class="col-3">
                {{ form.buy_fees_to_eur}}
              </td>  
            </tr>
            <tr class="d-flex">
              <td class="col-3 text-left">
                NOTE IN DEVELOPMENT, USE EUR Expected sell fees: 
              </td>
              <td class="col-6">
                {{ form.sell_fees_constant }} + {{ form.sell_fees_linear }} x price_bought x amount 
              </td>
              <td class="col-3">
                {{ form.sell_fees_to_eur}}
              </td>  
            </tr>    
            <tr class="d-flex">
              <td class=col-12>
                {{ form.errors }}
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-3 text-left">
                <a class="btn btn-danger btn-sm" href="/portfolio">
                  Cancel
                </a>
              </td>
              <td class="col-3 text-left">
                <input type="submit" value="Submit"/>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12" id="footer-menu">
    <table>
      <tr>
        <td class="footer-menu-item">Stock:</td><td class="footer-menu-item">The Stock you bought. In case it is not listed just create a new one.</td>
      </tr>
      <tr>
        <td class="footer-menu-item">Amount:</td><td class="footer-menu-item">How many stocks you bought. In case you sold stock simply use a negative value.</td>
      </tr>
      <tr>
        <td class="footer-menu-item">Portfolio:</td><td class="footer-menu-item">The name of the Portfolio you want to add the stock to. Just use the default value if you are not sure.</td>
      </tr>
      <tr>
        <td class="footer-menu-item">Label:</td><td class="footer-menu-item">This label is used to sort the stocks in your Overview and manage your diversification. In order to add mutiple labels to a stock use the a "/". Example: Cybersecurity/Data Mining/Biomedical</td>
      </tr>
      <tr>
        <td class="footer-menu-item">Date:</td><td class="footer-menu-item">The date of the transaction. This date is used to retrieve the price. </td>
      </tr>
      <tr>
        <td class="footer-menu-item">Price:</td><td class="footer-menu-item">Not required. The price per stock that you payed. In case you add your own price, the program wil automatically overwrite the value obtained using Date.</td>
      </tr>
      <tr>
        <td class="footer-menu-item">Fees: </td><td class="footer-menu-item">The amount of fees you had to pay on top of the price. You can specify both a constant term and a linear term dependant on the price you paid for the stocks. Note that in case you create a sell transaction (negative amount) than the Fees are the sell fees and you are not required to enter the expected sell fees.</td>
      </tr>
    </table>
  </div>
</div> 


{% endblock content %}





