{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Settings {% endblock %} 
{% load crispy_forms_tags %}
{% load widget_tweaks %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<tr class="d-flex">
  <div class="card text-white">
    <div class="card-body"> 
      <form action="." method="POST">
        {% csrf_token %}
        <table class="table">
          <tr class="d-flex">  
            <td class="col-12">
              {{ form.stock | as_crispy_field }}  
            </td>
          </tr>
          <tr class="d-flex">
            <td class='col-12'>
              {{ form.amount | as_crispy_field }}  
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-12'>
              {{ form.portfolio | as_crispy_field }}  
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-12'>
              {{ form.label | as_crispy_field }}  
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-12'>
              {{ form.date_bought | as_crispy_field }}  
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-6'>
              {{ form.price_bought | as_crispy_field }}  
            </td>
            <td class='col-6'>
              {{ form.price_bought_currency | as_crispy_field }}  
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-4'>
              {{ form.buy_fees_constant | as_crispy_field }} 
            </td>
            <td class='col-4'>
              {{ form.buy_fees_linear | as_crispy_field }} 
            </td>
            <td class='col-4'>
              {{ form.buy_fees_currency | as_crispy_field }} 
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-4'>
              {{ form.sell_fees_constant | as_crispy_field }} 
            </td>
            <td class='col-4'>
              {{ form.sell_fees_linear | as_crispy_field }} 
            </td>
            <td class='col-4'>
              {{ form.sell_fees_currency | as_crispy_field }} 
            </td>
          </tr>     
          <tr class='d-flex'>
            <td class='col-6'>
              {{ form.lower_alert | as_crispy_field }}  
            </td>
            <td class="col-6">
              {{ form.lower_alert_currency | as_crispy_field }}  
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-6'>
              {{ form.upper_alert | as_crispy_field }}  
            </td>
            <td class="col-6">
              {{ form.upper_alert_currency | as_crispy_field }}  
            </td>
          </tr>
          <tr class='d-flex'>
            <td class=col-12>
              {{ form.errors | as_crispy_field }} 
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-6'>
              <a class="btn btn-danger btn-sm" href="/portfolio">
                Cancel
              </a>
            </td>
            <td class='col-6'>
              <input type="submit" value="Submit"/>
            </td>
          </td>
        </table>
      </form>
    </div>
  </div>
</tr>
{% endblock content %}

{% block information %}
    <table>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Stock:</td><td class="col-10 footer-menu-item">The Stock you bought.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Amount:</td><td class="col-10 footer-menu-item">How many stocks you bought. Use a negative value for shorts.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Portfolio:</td><td class="col-10 footer-menu-item">The Portfolio you want to add the stock too in the overview. For sorting of different portfolios.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Label:</td><td class="col-10 footer-menu-item">To sort the stocks of each portfolio and to perform the portfolio diversification calculations. Use a '/' to seperate multiple categories. Like 'Crypto/Banking/Oil' </td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Date_bought:</td><td class="col-10 footer-menu-item">The date the transaction has been performed.</td>
      </tr> 
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Price bought:</td><td class="col-10 footer-menu-item">At what price you executed the order. Leave it empty in order for the program to use the Adj Close price of the given date.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Fees constant:</td><td class="col-10 footer-menu-item">The constant fees that you had to pay for the transaction</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Fees linear:</td><td class="col-10 footer-menu-item">The linear fees that you had to pay for the stock and which thus are dependant on the price. Use 0.1 for 10% for example. Note, this percentage is dependant on the currency you enter for the price_bought variable.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Lower alert:</td><td class="col-10 footer-menu-item">Receive an email in case the stock decreases beyond a certain price. Note: Check your spam folder please. The @hotmail.com domain is completely blocking our mails by its privacy settings.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Upper alert:</td><td class="col-10 footer-menu-item">Receive an email in case the stock increases beyond a certain price. Note: Check your spam folder please. The @hotmail.com domain is completely blocking our mails by its privacy settings.</td>
      </tr>
    </table>


{% endblock information %}