{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Initial alerts for users -->
<div class="row">
  <div class="col-12">
    <div class="alert alert-warning">
      ToDos: Add mobile/medium/desktop accessibility - Check total for queryset of 0 - Check Mike alibaba price_bought - Add market to stock and remove currency as prices can differ across market. Add button to sell stocks (goes to new transaction page with everything formatted to form already). Update fake settings view and allow setting changes. Mails are send to everybody together in CC, use for loop. Test Cryptos. Keep old api - new api for indicators. Dont download stocks if entry present already. Add mobile templates. Disable viewport zooming. Use fixed width and auto margin for desktop. JS add bottom of page for speed improvements. JS for context possibility?. Check news iex api. Add balance sheet, key stats and dividends (with download dates). Remove user download ability. </div>
  </div>
</div>

<!-- Main Portfolio Table -->
<div class="row">
  <div class="col-12">
    <!-- Card in which Table is located -->
    <div class="card">
      <!-- Set Header of overal card where the different portfolio buttons are located-->
      <div class="card-header">
        <ul class="nav nav-pills card-header" role="tablist">
          {% for portfolio_id in querysets.keys %}
          {% if forloop.first %} 
          <li class="nav-item">
            <a class="nav-link active card-title" data-toggle="pill" href="#{{ portfolio_id }}">Portfolio {{ portfolio_id }}</a>
          </li>
          {% else %} {# in case we are not in the first loop #}
          <li class="nav-item">
            <a class="nav-link card-title" data-toggle="pill" href="#{{ portfolio_id }}">Portfolio {{ portfolio_id }}</a>
          </li>
          {% endif %} {# for loop first #}
          {% endfor %}  {# loop through portfolio_ids #}
        </ul>
        <a href="/portfolio/create" class="btn btn-primary" role="button">
          +
        </a>
      </div>

      {% for portfolio_id, queryset in querysets.items %}
      <div class="tab-content">
        {% if forloop.first %} 
        <div id="{{portfolio_id}}" class="container tab-pane active">
        {% else %}
        <div id="{{portfolio_id}}" class="container tab-pane fade">
        {% endif %}
          <!--Mobile View Body 2-3-3-2-2 cell configuration -->
          <div class="card-body hide-in-desktop">
            <!-- And create the responsive table for the Portfolio -->
            <div class="table-responsive">
              <table class="table" style="white-space: nowrap;">
                <!-- Column headers for the current portfolio -->
                <thead class="text-primary">
                  <tr class="d-flex">
                    <th class="col-2">
                      Ticker 
                    </th>
                    <th class="col-3 text-right">
                      24h Change
                    </th> 
                    <th class="col-3 text-right">
                      Net Total
                    </th>
                    <th class="col-2 text-right">
                      Profit
                    </th>
                    <th class="col-2 text-right">
                      Actions
                    </th>
                  </tr>
                </thead>
                <!-- The body for the current portfolio -->
                <tbody>
                <!-- We loop through all the labels with the given stocks -->
                {% for label, stocks in queryset.items %}
                  <!-- Create a row which contains only the label name for the overview -->
                  <tr>
                    <td class="col-3"> 
                      <p class="text-primary">
                        {{label}}
                      </p>
                    </td>
                  </tr>
                  <!-- Then we can loop through all the stocks of this label-->
                  {% for stock in stocks %}
                  <!-- And create a stock entry for each object -->
                  <tr class="d-flex">
                    <td class="col-2">
                      {{stock.ticker}}
                    </td>
                    {% if stock.daily_change > 0 %}
                    {% if stock.exchange_closed %}
                    <td class="col-3 text-right"> 
                      <span class="text-warning">
                        {{ stock.daily_change_perc }}%
                      </span>
                    </td>
                    {% else %}  {# if the exchange is open #}
                    {% if stock.daily_change_perc > 3 %}
                    <td class="col-3 text-right bg-success">
                      <span class="text-black">
                        {{ stock.daily_change_perc }}%
                      </span>
                    </td>
                    {% else %}  {# if stock daily change perc <=3 and > 0 #}
                    <td class="col-3 text-right">
                      <span class="text-success">
                        {{ stock.daily_change_perc }}%
                      </span>
                    </td>
                    {% endif %}  {# ending daily_change_perc > 3 if #}
                    {% endif %}  {# ending exchange_closed if #}
                    {% else %}  {# meaning daily_change is now <=0 #}
                    {% if stock.exchange_closed %}
                    <td class="col-3 text-right">
                      <span class="text-warning">
                        {{ stock.daily_change_perc }}%
                      </span>
                    </td>
                    {% else %}   {# if exchange is open #}
                    {% if stock.daily_change_perc < -3 %}
                    <td class="col-3 text-right bg-danger">
                      {{ stock.daily_change_perc }}%
                    </td>
                    {% else %}  {# if daily_change_perc >= -3 and <= 0#}
                    <td class="col-3 text-right">
                      <span class="text-danger">
                        {{ stock.daily_change_perc }}%
                      </span>
                    </td>
                    {% endif %}  {# ending daily_change_perc < -3 if #}
                    {% endif %}  {# ending exchange_closed if #}
                    {% endif %}  {# ending daily_change > 0 if #}
                    <td class="col-3 text-right">
                      {{ stock.current_total_net }}
                    </td>
                    {% if stock.total_profit > 0 %}
                    <td class="col-2 text-right">
                      <span class="text-success">
                        {{ stock.total_profit_perc }}%
                      </span>
                    </td>
                    {% else %}  {# if total profit negative #}
                    {% if stock.total_profit != 0 %}
                    <td class="col-2 text-right">
                      <span class="text-danger">
                        {{ stock.total_profit_perc }}%
                      </span>
                    </td>
                    {% else %}  {# total profit is 0 #}
                    <td class="col-2 text-right">
                      {{ stock.total_profit_perc }}%
                    </td>
                    {% endif %}  {# total profit != 0 #}
                    {% endif %}  {# total profit > 0 #}
                    <td class="col-2 td-actions text-right">
                      <button type="button" rel="tooltip" class="btn btn-info animation-on-hover btn-sm btn-icon">
                        <a href={{stock.plot_link}}>
                          <img src="{% static 'assets/img/plot.png' %}"/>
                        </a>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-success animation-on-hover btn-sm btn-icon">
                        <a href={{stock.settings_link}}> 
                          <img src="{% static 'assets/img/settings.png' %}"/>
                        </a>                  
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-danger animation-on-hover btn-sm btn-icon">
                        <a href={{stock.delete_link}}>
                          <img src="{% static 'assets/img/delete.png' %}"/>
                        </a>
                      </button>
                    </td>
                  </tr>
                  {% endfor %}  {# ending loop through stocks #}
                  
                  {% if forloop.last %}
                  <!-- The last iteration contains the free cash flow, the add transaction buttons and the totals -->
                  {% if current_total_cash != 0 %}
                  <!-- Row with Label Cash -->
                  <tr class="d-flex">
                    <td class="col-12 text-left">
                      <p class="text-primary">
                        Cash
                      </p>
                    </td>
                  </tr>
                  <!-- Row containing the Free Cash Flow Stock -->
                  <tr class="d-flex">
                    <td class="col-6 text-left">
                      Free Cash Flow
                    </td>
                    <td class="col-1 text-right">
                      {{current_total_cash}}
                    </td>
                  </tr>
                  {% endif %}   {# ending current total cash != 0 #}
                  
                  <!-- Then an empty row for visibility purposes -->
                  <tr>
                    <td>
                      </br> <!--</br> is needed here as otherwise the cell has a lower height -->
                    </td> 
                  </tr>
            
                  <!-- Row containg the Add Transaction button -->
                  <tr class="d-flex">
                    <td class="col-12" >
                      <a href="/transactions/create" class="btn btn-primary" role="button">
                        Add Transaction
                      </a>
                    </td>
                  </tr>

                  <!-- Row containing total -->
                  <tr class="d-flex show-in-mobile">
                    <td class="text-left col-2">
                      Total
                    </td>
                    <!-- Total daily change perc-->
                    {% if not daily_from_today %}
                    <td class="col-3 text-right"> 
                      <span class="text-warning">
                        {{ daily_change_perc }}%
                      </span>
                    </td>
                    {% else %}  {# else so if daily_from_today #}
                    {% if daily_change_perc > 3 %}
                    <td class="col-3 text-right text-black bg-success">
                      <span class="text-black">
                        {{ daily_change_perc }}%
                      </span>
                    </td>
                    {% else %} {# this is for daily_change_perc <= 3 #}
                    {% if daily_change_perc > 0 %}
                    <td class="col-3 text-right">
                      <span class="text-success">
                        {{ daily_change_perc }}%
                      </span>
                    </td>
                    {% else %} {# this is for daily_change_perc <= 0 #}
                    {% if daily_change_perc < -3 %}
                    <td class="col-3 text-right bg-danger">
                      <span class="">
                        {{ daily_change_perc }}%
                      </span>
                    </td>
                    {% else %} {# this is for daily_change_perc between 0 and -3 #}
                    {% if daily_change_perc < 0 %}
                    <td class="col-3 text-right text-danger">
                      <span class="text-danger">
                        {{ daily_change_perc }}%
                      </span>
                    </td>
                    {% else %}  {# this is for daily_change_perc == 0 #}
                    <td class="col-3 text-right">
                      {{daily_change_perc}}%
                    </td>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <!-- Total net -->
                    <td class="col-3 text-right">
                      {{current_total_net}}
                    </td>
                    <!-- Total profit -->
                    {% if current_total_profit > 0 %}  
                    <td class="col-2 text-right text-success">
                      {{current_total_profit_perc}}%
                    </td>
                    {% else %}  {# this is for current_total_profit <= 0 #}
                    <td class="col-2 text-right text-danger">
                      {{current_total_profit_perc}}%
                    </td>
                    {% endif %}
                  </tr>
                  {% endif %}  
                {% endfor %} 
              
                {% if queryset|length == 0  %}
                <!-- Row containg the Add Stock button -->
                <tr class="d-flex">
                  <td class="col-3">
                    <a href="/transactions/create" class="btn btn-primary" role="button">
                      Add Transaction
                    </a>
                  </td>
                </tr>

                <!-- Row containing totals if we have no stocks -->
                <tr class="d-flex">
                  <td class="text-left col-5">
                    Total
                  </td>
                  <td class="text-left col-2 text-warning">
                    <span class="hide-in-mobile">
                      {{current_total_profit}} 
                    </span>
                    <span>
                      ({{current_total_profit_perc}}%)
                    </span>
                  </td>
                </tr>
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>

          <!-- Desktop View Body -->
          <div class="card-body hide-in-mobile">
            <!-- And create the responsive table for the Portfolio -->
            <div class="table-responsive">
              <table class="table" style="white-space: nowrap;">
                <!-- Column headers for the current portfolio -->
                <thead class="text-primary">
                  <!-- Row which is not hidden only in mobile -->           
                  <tr class="d-flex">
                    <th class="col-4">
                      Ticker 
                    </th>
                    <th class="col-1 text-right">
                      Amount
                    </th>
                    <th class="col-1 text-right">
                      Initial Price
                    </th>
                    <th class="col-1 text-right">
                      Current Price
                    </th>
                    <th class="col-1 text-right">
                      24h Change
                    </th> 
                    <th class="col-1 text-right">
                      Net Total
                    </th>
                    <th class="col-1 text-right">
                      Total Profit
                    </th>
                    <th class="col-2 text-right">
                      Actions
                    </th>
                  </tr>
                </thead>
                <!-- The body for the current portfolio -->
                <tbody>
                <!-- We loop through all the labels with the given stocks -->
                {% for label, stocks in queryset.items %}
                  <!-- Create a row which contains only the label name for the overview -->
                  <tr>
                    <td class="col-3"> 
                      <p class="text-primary">
                        {{label}}
                      </p>
                    </td>
                  </tr>
                  <!-- Then we can loop through all the stocks of this label-->
                  {% for stock in stocks %}
                  <!-- And create a stock entry for each object -->
                  <!-- Row which is not shown in mobile -->
                  <tr class="d-flex">
                    <td class="col-4">
                      {{stock.name}} ({{stock.ticker}})
                    </td>
                    <td class="col-1 text-right">
                      {{stock.amount}}
                    </td>
                    <td class="col-1 text-right">
                      {{stock.initial_price}}
                    </td>
                    <td class="col-1 text-right">
                      {{stock.current_price}}
                    </td>
                    {% if stock.daily_change > 0 %}
                    {% if stock.exchange_closed %}
                    <td class="col-1 text-right"> 
                      <span class="text-warning">
                        {{ stock.daily_change }}
                      </span> 
                      <span class="text-success">
                        ({{ stock.daily_change_perc }}%)
                      </span>
                    </td>
                    {% else %}  {# if the exchange is open #}
                    {% if stock.daily_change_perc > 3 %}
                    <td class="col-1 text-right bg-success">
                      <span class="text-black">
                        {{ stock.daily_change }} ({{ stock.daily_change_perc }}%)
                      </span>
                    </td>
                    {% else %}  {# if stock daily change perc <=3 and > 0 #}
                    <td class="col-1 text-right">
                      <span class="text-success">
                        {{ stock.daily_change }} ({{ stock.daily_change_perc }}%)
                      </span>
                    </td>
                    {% endif %}  {# ending daily_change_perc > 3 if #}
                    {% endif %}  {# ending exchange_closed if #}
                    {% else %}  {# meaning daily_change is now <=0 #}
                    {% if stock.exchange_closed %}
                    <td class="col-1 text-right">
                      <span class="text-warning">
                        {{ stock.daily_change }}
                      </span> 
                      <span class="text-danger">
                        ({{ stock.daily_change_perc }}%)
                      </span>
                    </td>
                    {% else %}   {# if exchange is open #}
                    {% if stock.daily_change_perc < -3 %}
                    <td class="col-1 text-right bg-danger">
                      {{ stock.daily_change }} ({{ stock.daily_change_perc }}%)
                    </td>
                    {% else %}  {# if daily_change_perc >= -3 and <= 0#}
                    <td class="col-1 text-right">
                      <span class="text-danger">
                        {{ stock.daily_change }} ({{ stock.daily_change_perc }}%)
                      </span>
                    </td>
                    {% endif %}  {# ending daily_change_perc < -3 if #}
                    {% endif %}  {# ending exchange_closed if #}
                    {% endif %}  {# ending daily_change > 0 if #}
                    <td class="col-1 text-right">
                      {{ stock.current_total_net }}
                    </td>
                    {% if stock.total_profit > 0 %}
                    <td class="col-1 text-right">
                      <span class="text-success">
                        {{stock.total_profit}} ({{ stock.total_profit_perc }}%)
                      </span>
                    </td>
                    {% else %}  {# if total profit negative #}
                    {% if stock.total_profit != 0 %}
                    <td class="col-1 text-right">
                      <span class="text-danger">
                        {{stock.total_profit}} ({{ stock.total_profit_perc }}%)
                      </span>
                    </td>
                    {% else %}  {# total profit is 0 #}
                    <td class="col-1 text-right">
                      {{stock.total_profit}} ({{ stock.total_profit_perc }}%)
                    </td>
                    {% endif %}  {# total profit != 0 #}
                    {% endif %}  {# total profit > 0 #}
                    <td class="col-2 td-actions text-right">
                      <button type="button" rel="tooltip" class="btn btn-info animation-on-hover btn-sm btn-icon">
                        <a href={{stock.plot_link}}>
                          <img src="{% static 'assets/img/plot.png' %}"/>
                        </a>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-success animation-on-hover btn-sm btn-icon">
                        <a href={{stock.settings_link}}> 
                          <img src="{% static 'assets/img/settings.png' %}"/>
                        </a>                  
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-danger animation-on-hover btn-sm btn-icon">
                        <a href={{stock.delete_link}}>
                          <img src="{% static 'assets/img/delete.png' %}"/>
                        </a>
                      </button>
                    </td>
                  </tr>
                  {% endfor %}  {# ending loop through stocks #}
                  
                  {% if forloop.last %}
                  <!-- The last iteration contains the free cash flow, the add transaction buttons and the totals -->
                  {% if current_total_cash != 0 %}
                  <!-- Row with Label Cash -->
                  <tr class="d-flex">
                    <td class="col-12 text-left">
                      <p class="text-primary">
                        Cash
                      </p>
                    </td>
                  </tr>
                  <!-- Row containing the Free Cash Flow Stock in desktop -->
                  <tr class="d-flex">
                    <td class="col-7 text-left">
                      Free Cash Flow
                    </td>
                    <td class="col-1 text-right">
                      {{current_total_cash}}
                    </td>
                  </tr>
                  {% endif %}   {# ending current total cash != 0 #}
                  
                  <!-- Then an empty row for visibility purposes -->
                  <tr>
                    <td>
                      </br> <!--</br> is needed here as otherwise the cell has a lower height -->
                    </td> 
                  </tr>
            
                  <!-- Row containg the Add Transaction button -->
                  <tr class="d-flex">
                    <td class="col-12" >
                      <a href="/transactions/create" class="btn btn-primary" role="button">
                        Add Transaction
                      </a>
                    </td>
                  </tr>

                  <!-- Row containing total in desktop -->
                  <tr class="d-flex">
                    <td class="text-left col-7">
                      Total
                    </td>
                    <!-- Total daily change perc-->
                    {% if not daily_from_today %}
                    {% if daily_change_perc > 0 %}
                    <td class="col-1 text-right"> 
                      <span class="text-warning">
                        {{ daily_change }}
                      </span> 
                      <span class="text-success">
                        ({{ daily_change_perc }}%)
                      </span>
                    </td>
                    {% else %}  {# this is for daily_change_perc <= 0 #}
                    {% if daily_change_perc < 0 %}
                    <td class="col-1 text-right"> 
                      <span class="text-warning">
                        {{ daily_change }}
                      </span> 
                      <span class="text-danger">
                        ({{ daily_change_perc }}%)
                      </span>
                    </td>
                    {% else %}  {# this is for daily_change_perc == 0 #}
                    <td class="col-1 text-right"> 
                      <span class="text-warning">
                        {{ daily_change }} ({{ daily_change_perc }}%)
                      </span>
                    </td>
                    {% endif %}  {# ending daily change perc < 0 #}
                    {% endif %}  {# ending daily change perc > 0 #}
                    {% else %}  {# else so if daily_from_today #}
                    {% if daily_change_perc > 3 %}
                    <td class="col-1 text-right text-black bg-success">
                      <span class="text-black">
                        {{daily_change}} ({{daily_change_perc}}%)
                      </span>
                    </td>
                    {% else %} {# this is for daily_change_perc <= 3 #}
                    {% if daily_change_perc > 0 %}
                    <td class="col-1 text-right">
                      <span class="text-success">
                        {{daily_change}} ({{daily_change_perc}}%)
                      </span>
                    </td>
                    {% else %} {# this is for daily_change_perc <= 0 #}
                    {% if daily_change_perc < -3 %}
                    <td class="col-1 text-right bg-danger">
                      {{daily_change}} ({{daily_change_perc}}%)
                    </td>
                    {% else %} {# this is for daily_change_perc between 0 and -3 #}
                    {% if daily_change_perc < 0 %}
                    <td class="col-1 text-right text-danger">
                      {{daily_change}} ({{daily_change_perc}}%)
                    </td>
                    {% else %}  {# this is for daily_change_perc == 0 #}
                    <td class="col-1 text-right text-warning">
                      {{daily_change}} ({{daily_change_perc}}%)
                    </td>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <!-- Total net -->
                    <td class="col-1 text-right">
                      {{current_total_net}}
                    </td>
                    <!-- Total profit -->
                    {% if current_total_profit > 0 %}  
                    <td class="col-1 text-right text-success">
                      {{current_total_profit}} ({{current_total_profit_perc}}%)
                    </td>
                    {% else %}  {# this is for current_total_profit <= 0 #}
                    <td class="col-1 text-right text-danger">
                      {{current_total_profit}} ({{current_total_profit_perc}}%)
                    </td>
                    {% endif %}
                  </tr>
                  {% endif %}  
                {% endfor %} 
              
                {% if queryset|length == 0  %}
                <!-- Row containg the Add Stock button -->
                <tr class="d-flex">
                  <td class="col-3">
                    <a href="/transactions/create" class="btn btn-primary" role="button">
                      Add Transaction
                    </a>
                  </td>
                </tr>

                <!-- Row containing totals if we have no stocks -->
                <tr class="d-flex">
                  <td class="text-left col-9">
                    Total
                  </td>
                  <td class="text-left col-1 text-warning">
                    <span class="hide-in-mobile">
                      {{current_total_profit}} 
                    </span>
                    <span>
                      ({{current_total_profit_perc}}%)
                    </span>
                  </td>
                </tr>
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Profit History plot --> 
<div class="row">
  <div class="col-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Profit History</h5>
      </div>
      <div class="card-body">
        <canvas id="portfolio-plot"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Diversification plot-->
<div class="row">
  <div class="col-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Portfolio Diversification</h5>
      </div>
      <div class="card-body">
        <canvas id="portfolio-diversification-chart"></canvas>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>


<!-- Portfolio History script -->
<script>
  var ctx = document.getElementById('portfolio-plot').getContext('2d');

  var style = getComputedStyle(document.body);
  var textColor = style.getPropertyValue('--white');
  var gainColor = style.getPropertyValue('--success');
  var mainAttentionColor = style.getPropertyValue('--primary'); 

  <!-- First add line to ctx variable -->
  var myLineChart = new Chart(ctx, {
      type: 'line',

      data: {
          labels: {{ portfolio_plot_labels|safe }},
          datasets: [
              {
                  label: "Portfolio Value",
                  data: {{portfolio_plot_data|safe}},
                  yAxisID:'A',
                  borderColor: textColor,
                  labels: {{ portfolio_plot_labels|safe }}
              },
              {
                  label: "Profit",
                  data: {{portfolio_plot_profit|safe}},
                  yAxisID:'B',
                  borderColor: gainColor,
                  labels: {{ portfolio_plot_labels|safe }}
              }]
      },

      options: {
          title: {
              display: true,
              text: "Portfolio history",
              fontColor: mainAttentionColor,
              fontSize: 22
          },
          legend: {
              display: true,
              labels: {
                  fontColor: textColor,
                  fontSize: 22
              }
          },
          tooltips: {
              intersect: false,
              mode: 'index'
          },
          animation: {
              duration: 0
          },
          scales: {
              xAxes: [{
                  type: 'time',
                  time: {
                      parser: 'YYYY-MM-DD'
                  },
                  ticks: {
                      maxTicksLimit: 10,
                      fontColor: textColor,
                      fontSize: 18,
                  },
                  scaleLabel: {
                      display: true,
                      labelString: 'Date',
                      fontColor: textColor,
                      fontSize: 22
                  }
              }],
              yAxes: [{
                  type: 'linear',
                  id: 'A',
                  position: 'left',
                  ticks: {
                      fontColor: textColor,
                      fontSize: 18 ,
                  },
                  scaleLabel: {
                      display: true,
                      labelString: 'Portfolio Value',
                      fontColor: textColor,
                      fontSize: 22
                  }
              },
              {
                  type: 'linear',
                  id: 'B',
                  position: 'right',
                  ticks: {
                      fontColor: gainColor,
                      fontSize: 18 ,
                  },
                  scaleLabel: {
                      display: true,
                      labelString: 'Profit',
                      fontColor: gainColor,
                      fontSize: 22
                  } 
              }]
          }
      }
  });
</script>

<!-- Portfolio Diversification script -->
{% if diversification_chart_values|length != 1 or diversification_chart_values|first != "" %}
<script>
  var ctx = document.getElementById('portfolio-diversification-chart').getContext('2d');

  var style = getComputedStyle(document.body);
  var textColor = style.getPropertyValue('--white');
  var gainColor = style.getPropertyValue('--success');
  var mainAttentionColor = style.getPropertyValue('--primary');
  var secondaryAttentionColor = style.getPropertyValue('--secondary');

  var chart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
      labels: {{ diversification_chart_labels | safe}}, <!-- Gives x axis location-->
      datasets: [{
        backgroundColor: {{ diversification_chart_colors | safe }},
        label:"",  <!-- Label of the whole dataset -->
        data: {{ diversification_chart_values | safe }}
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Portfolio Diversification',
        fontColor: mainAttentionColor,
        fontSize: 22
      },
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true,
            fontColor: textColor,
            fontSize: 18,
          },
          barPercentage: 0.6,
          scaleLabel:{
            display: true,
            labelString: 'EUR',
            fontColor: textColor,
            fontSize: 22
          }
        }],
        yAxes: [{
          ticks: {
            fontColor: textColor,
            fontSize: 18,
            autoSkip: false,
          },
          barPercentage: 0.4
        }]
      },
      tooptips: {
        enabled: false
      } 
    }
  });
</script>
{% endif %}

{% endblock javascripts %}
