{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %} Create Transaction {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<tr class="d-flex">
    <div class="card text-white">
      <div class="card-body"> 
        <form action="." method="POST">
          {% csrf_token %}
          <table class="table">
            <tr class="d-flex">  
              <td class="col-10">
		            {{ form.stock | add_class:"text-black" | as_crispy_field}} </div> 
              </td>
              <td class="col-2 text-left"> 
                <a class="btn btn-primary btn-sm" style="text-align: left;" href="/stocks/create/">
                  +
                </a>
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-12">
                {{ form.amount | as_crispy_field }} 
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-12">
                {{ form.portfolio | as_crispy_field }} 
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-12">
                {{ form.label | as_crispy_field }} 
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-12">
                {{ form.date_bought | as_crispy_field }} 
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-6">
                {{ form.price_bought | as_crispy_field }} 
              </td>
              <td class="col-6">
                {{ form.price_bought_currency  | add_class:"text-black" | as_crispy_field }} 
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-4">
                {{ form.buy_fees_constant | as_crispy_field }}  
              </td>
	            <td class="col-4">
                {{ form.buy_fees_linear | as_crispy_field }}
	            </td>
              <td class="col-4">
                {{ form.buy_fees_currency  | add_class:"text-black" | as_crispy_field }}
              </td>  
            </tr>
            <tr class="d-flex">
              <td class="col-4">
                {{ form.sell_fees_constant | as_crispy_field }}   
              </td>
	            <td class="col-4">
	              {{ form.sell_fees_linear | as_crispy_field }}
	            </td>
              <td class="col-4">
                {{ form.sell_fees_currency  | add_class:"text-black" | as_crispy_field }}
              </td>  
            </tr>    
            <tr class="d-flex">
              <td class=col-12>
                {{ form.errors}}
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-6 text-left">
                <a class="btn btn-danger btn-sm" href="/portfolio">
                  Cancel
                </a>
              </td>
              <td class="col-6 text-left">
                <input type="submit" value="Submit"/>
              </td>
            </tr>
          </table>
        </form>
      </div>
  </div>
</tr>

{% endblock content %}
{% block information %}
    <table>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Stock:</td><td class="col-10 footer-menu-item">The Stock you bought. In case it is not listed just create a new one.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Amount:</td><td class="col-10 footer-menu-item">How many you bought. In case you want to sell/short simply use a negative amount.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Portfolio:</td><td class="col-10 footer-menu-item">The portfolio too which you want to add the transaction. Just use the default in case you are not sure.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Label:</td><td class="col-10 footer-menu-item">The label you want to give to the stock. Multiple labels can be specified by seperating them using /. Example: Cybersecurity/Cryptocurrency/Oil.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Date:</td><td class="col-10 footer-menu-item">The date that the transaction was executed at.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Price bought:</td><td class="col-10 footer-menu-item">What price has the order been executed at? In case you leave it blank the program just uses the Adj Close price of that day..</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Fees constant:</td><td class="col-10 footer-menu-item">The constant fees that you had to pay.</td>
      </tr>
      <tr class="d-flex">
        <td class="footer-menu-item col-2">Fees linear:</td><td class="col-10 footer-menu-item">The linear fees that you had to pay for the stock and which thus are dependant on the price. Use 0.1 for 10% for example.</td>
      </tr>
    </table>


{% endblock information %}





